@keyframes RotationFlower {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes float {
  0%, 100% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(6px, -3px);
  }
  30% {
    transform: translate(5px, 5px);
  }
  50% {
    transform: translate(-4px, -6px);
  }
  70% {
    transform: translate(-4px, 0px);
  }
  90% {
    transform: translate(-4px, -2px);
  }
}
.fadeIn {
  animation: fadeIn 800ms ease-out 800ms both;
}

.fadeInHeader {
  animation: fadeIn 1600ms ease-out 1600ms both;
}

.fadeDown {
  animation: fadeDown 800ms ease-out 820ms both;
}

.fadeIn_banner__img__animation {
  animation: fadeIn 800ms ease-out 800ms both, float 6s 2s ease-in-out infinite;
}

.banner__img__animation {
  animation: float 6s 2s ease-in-out infinite;
}

#page {
  overflow: hidden;
}

.banner {
  overflow: hidden;
}
@media (min-width: 426px) {
  .banner {
    background-image: none;
  }
}
.banner #background-video {
  position: fixed;
  z-index: -1;
  width: 100%;
  transition: transform 1s ease-in-out;
}
@media (max-width: 425px) {
  .banner #background-video {
    display: none;
  }
}
.banner img {
  transition: transform 1s ease-in-out;
}

.story h2::after {
  animation: RotationFlower 10000ms 1ms linear infinite;
}
.story h2 .story__title {
  display: inline-block;
  opacity: 0;
}
.story__article::after {
  animation: RotationFlower 10000ms 1ms linear infinite;
}
.story #place {
  background-image: url("../assets/images/Studio_Koukaki-image_place.png");
}
.story #place .clouds {
  width: 100%;
  height: 100%;
  position: relative;
}
.story #place .big_cloud {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: blur(16.5px);
  position: absolute;
  right: 93px;
  top: 65px;
}
.story #place .little_cloud {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: blur(16.5px);
  position: absolute;
  right: 505px;
  top: 248px;
}

#studio h2::before {
  animation: RotationFlower 10000ms 1ms linear infinite;
}
#studio h2::after {
  animation: RotationFlower 10000ms 1ms linear infinite;
}
#studio h2 .studio__title__first {
  display: inline-block;
  opacity: 0;
  animation-delay: 800ms;
}
#studio h2 .studio__title__second {
  display: inline-block;
  opacity: 0;
  animation-delay: 1s;
}

.nomination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
.nomination::before {
  content: url("../assets/images/Sunflower.png");
  position: absolute;
  left: 4em;
  top: -12em;
  animation: RotationFlower 10000ms 1ms linear infinite;
}
.nomination::after {
  content: url("../assets/images/orchid.png");
  position: absolute;
  right: -4em;
  bottom: 22em;
  animation: RotationFlower 10000ms 1ms linear infinite;
}
.nomination h3 {
  background-image: url("../assets/images/orange_oscars_bg.png");
  background-repeat: no-repeat;
  background-size: 792px 269px;
  margin: 0;
  background-position: center;
  text-align: left;
  font-size: 42px;
  line-height: normal;
  font-weight: 700;
  letter-spacing: -0.84px;
  padding: 1em 2em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 815px;
}
.nomination img {
  width: 278px;
  height: 129px;
}

#colophon::before {
  display: none;
  animation: RotationFlower 10000ms 1ms linear infinite;
}
#colophon::after {
  display: none;
  animation: RotationFlower 10000ms 1ms linear infinite;
}
#colophon ul::after {
  animation: RotationFlower 10000ms 1ms linear infinite;
}

/*# sourceMappingURL=structure_site_animations.css.map */
