$anim-dur: 10000ms;
$anim-delay: 1ms;

@keyframes RotationFlower {
    from {
        transform: rotate(0turn);}
    to {
        transform: rotate(1turn);
    }
    }

.story {
    h2{
        &::after {
            animation: RotationFlower $anim-dur $anim-delay linear infinite;
        }
    }
    &__article {
        &::after {
            animation: RotationFlower $anim-dur $anim-delay linear infinite;
        }

    }
}

#studio {
    h2 {
        &::before {
            animation: RotationFlower $anim-dur $anim-delay linear infinite;
        }
        &::after {
            animation: RotationFlower $anim-dur $anim-delay linear infinite;
        }
    }
}

#colophon {
    &::before {
        animation: RotationFlower $anim-dur $anim-delay linear infinite;
    }
    &::after {
        animation: RotationFlower $anim-dur $anim-delay linear infinite;
    }
    ul {
        &::after {
            animation: RotationFlower $anim-dur $anim-delay linear infinite;
        }
    }
}

$sectionPosition: 0%;
$sectionUp: 200%;
$sectionDown: -100%;
$animationDelay: 800ms;
$animationDuration: 800ms;

.fadeIn {
  animation: fadeIn $animationDuration ease-out $animationDelay both;
}

.fadeDown {
  animation: fadeDown $animationDuration ease-out #{$animationDuration + 20} both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY($sectionUp);
  }
  
  100% {
    opacity: 1;
    transform: translateY($sectionPosition);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY($sectionDown);
  }

  100% {
    opacity: 1;
    transform: translateY($sectionPosition);
  }
}

.nomination {
    h3 {
        background-image: url("../assets/images/orange_place_bg.png");
        background-size: cover;
}}
