// VARIABLES // 
$anim-dur: 10000ms;
$anim-delay: 1ms;
$sectionPosition: 0%;
$sectionUp: 100%;
$sectionDown: -100%;
$animationDelay: 800ms;
$animationDuration: 800ms;


// KEYFRAMES //
@keyframes RotationFlower {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY($sectionUp);
    }

    100% {
        opacity: 1;
        transform: translateY($sectionPosition);
    }
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY($sectionDown);
    }

    100% {
        opacity: 1;
        transform: translateY($sectionPosition);
    }
}

@keyframes float {

    0%,
    100% {
        transform: translate(0, 0);
    }

    20% {
        transform: translate(6px, -3px);
    }

    30% {
        transform: translate(5px, 5px);
    }

    50% {
        transform: translate(-4px, -6px);
    }

    70% {
        transform: translate(-4px, 0px);
    }

    90% {
        transform: translate(-4px, -2px);
    }
}

// ANIMATIONS CLASSES // 
.fadeIn {
    animation: fadeIn $animationDuration ease-out $animationDelay both;
}

.fadeDown {
    animation: fadeDown $animationDuration ease-out #{$animationDuration + 20} both;
}

.fadeIn_banner__img__animation  {
    animation: fadeIn $animationDuration;
}

.banner__img__animation {
    animation: ease-out $animationDelay both, float 6s 2s ease-in-out infinite;
}